BasedOnStyle: Google

SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex:           '<(absl|BS_|imgui|nfd|opencv2|SDL|catch).*>'
    Priority:        2
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3
