[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "external/thread-pool"]
	path = external/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
