[submodule "external/imgui"]
	path = external/imgui
	url = ../imgui.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = ../../btzy/nativefiledialog-extended.git
[submodule "external/thread-pool"]
	path = external/thread-pool
	url = ../thread-pool.git
[submodule "external/alpaca"]
	path = external/alpaca
	url = ../../p-ranav/alpaca.git
[submodule "external/expected"]
	path = external/expected
	url = ../../TartanLlama/expected.git
[submodule "external/multiblend"]
	path = external/multiblend
	url = ../multiblend.git
