name: Check clang-format

on:
  push:
    branches: [ "main" ]
    paths: [ "xpano/**", "tests/**" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "xpano/**", "tests/**" ]

jobs:
  formatting-check:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Run clang-format
      run: |
        ./misc/scripts/format.sh
        git diff --exit-code
