name: jekyll-build

on:
  push:
    branches:
      - main
    paths:
      - misc/site/**

jobs:
  jekyll:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0

      - uses: limjh16/jekyll-action-ts@v2
        with:
          enable_cache: true
          format_output: true
          jekyll_src: misc/site

      - uses: peaceiris/actions-gh-pages@v3
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
