name: tests

on:
  push:
    branches: [ "main" ]
    paths-ignore: [ "misc/site/**" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read # to fetch code (actions/checkout)

env:
  BUILD_TYPE: Release
  SDL_VERSION: "release-2.26.3"
  OPENCV_VERSION: "4.7.0"
  CATCH_VERSION: "v3.3.1"
  SPDLOG_VERSION: "v1.11.0"
  GENERATOR: "Ninja Multi-Config"

jobs:
  build-windows-latest:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: ilammy/msvc-dev-cmd@v1

    - name: Cache OpenCV
      uses: actions/cache@v3
      id: cache-opencv
      with:
        path: opencv/install
        key: ${{runner.os}}-opencv-${{env.OPENCV_VERSION}}-static-ninja-${{hashFiles('misc/build/opencv-minimal-flags.txt')}}

    - name: Install OpenCV
      if: steps.cache-opencv.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/opencv/opencv.git --depth 1 --branch $env:OPENCV_VERSION
        cd opencv
        cmake -B build -G "$env:GENERATOR" `
          -DBUILD_SHARED_LIBS=OFF `
          -DCMAKE_INSTALL_PREFIX=install `
          @(Get-Content ../misc/build/opencv-minimal-flags.txt)
        cmake --build build --target install --config Release
        cd ..

    - name: Cache SDL
      uses: actions/cache@v3
      id: cache-sdl
      with:
        path: |
          sdl/install
          sdl/LICENSE.txt
        key: ${{runner.os}}-sdl-${{env.SDL_VERSION}}-static-ninja

    - name: Install SDL
      if: steps.cache-sdl.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/libsdl-org/SDL.git --depth 1 --branch $env:SDL_VERSION
        cd sdl
        cmake -B build -G "$env:GENERATOR" `
          -DBUILD_SHARED_LIBS=OFF `
          -DCMAKE_INSTALL_PREFIX=install `
          -DSDL_FORCE_STATIC_VCRT=ON `
          -DSDL_MISC=OFF
        cmake --build build --target install --config Release
        cd ..

    - name: Cache Catch
      uses: actions/cache@v3
      id: cache-catch
      with:
        path: catch/install
        key: ${{runner.os}}-catch-${{env.CATCH_VERSION}}-static-${{env.BUILD_TYPE}}-ninja

    - name: Install Catch
      if: steps.cache-catch.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/catchorg/Catch2.git catch --depth 1 --branch $env:CATCH_VERSION
        cd catch
        cmake -B build -G "$env:GENERATOR" `
          -DCMAKE_INSTALL_PREFIX=install `
          -DBUILD_TESTING=OFF `
          -DCMAKE_POLICY_DEFAULT_CMP0091=NEW `
          -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded
        cmake --build build --target install --config $env:BUILD_TYPE
        cd ..

    - name: Cache spdlog
      uses: actions/cache@v3
      id: cache-spdlog
      with:
        path: |
          spdlog/LICENSE
          spdlog/build/install          
        key: ${{runner.os}}-spdlog-${{env.SPDLOG_VERSION}}-static-${{env.BUILD_TYPE}}-ninja

    - name: Install spdlog
      if: steps.cache-spdlog.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/gabime/spdlog.git --depth 1 --branch $env:SPDLOG_VERSION
        cd spdlog
        cmake -B build -G "$env:GENERATOR" `
          -DCMAKE_INSTALL_PREFIX=build/install `
          -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded
        cmake --build build --target install --config $env:BUILD_TYPE
        cd ..

    - name: Bundle extra licenses
      run: |
        New-Item -Name "licenses" -ItemType "directory"
        Copy-Item "sdl/LICENSE.txt" -Destination "licenses/sdl-license.txt"
        Copy-Item "spdlog/LICENSE" -Destination "licenses/spdlog-license.txt"

    - name: Configure CMake
      run: |
        cmake -B build -G "$env:GENERATOR" `
          -DBUILD_TESTING=ON `
          -DXPANO_EXTRA_LICENSES=licenses `
          -DXPANO_STATIC_VCRT=ON `
          -DCMAKE_INSTALL_PREFIX=install `
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON `
          -DSDL2_DIR="sdl/install/cmake" `
          -DOpenCV_STATIC=ON `
          -DOpenCV_DIR="opencv/install" `
          -Dspdlog_DIR="spdlog/build/install/lib/cmake/spdlog" `
          -DCatch2_DIR="../catch/install/lib/cmake/Catch2" `

    - name: Build
      run: cmake --build build --config $env:BUILD_TYPE --target install

    - name: Run Tests
      run: |
        cd build
        ctest -C $env:BUILD_TYPE
        cd ..

  build-ubuntu-22:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Install prerequisites
      run: |
          sudo apt-get install -y libgtk-3-dev libopencv-dev libsdl2-dev libspdlog-dev

    - name: Cache Catch
      uses: actions/cache@v3
      id: cache-catch
      with:
        path: catch/install
        key: ${{runner.os}}-catch-${{env.CATCH_VERSION}}-${{env.BUILD_TYPE}}-22.04

    - name: Install Catch
      if: steps.cache-catch.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/catchorg/Catch2.git catch --depth 1 --branch $CATCH_VERSION
        cd catch
        cmake -B build -DCMAKE_INSTALL_PREFIX=install -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_TESTING=OFF
        cmake --build build -j $(nproc) --target install
        cd ..

    - name: Configure CMake
      run: |
        cmake -B build \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install \
          -DBUILD_TESTING=ON \
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
          -DCatch2_DIR=../catch/install/lib/cmake/Catch2

    - name: Build
      run: cmake --build build -j $(nproc) --target install

    - name: Run Tests
      run: |
        cd build
        ctest
        cd ..

  build-ubuntu-20:
    runs-on: ubuntu-20.04

    # Build OpenCV from source, as the one included in 20.04 repos doesn't have SIFT features
    # Build SDL from source as it the one included in 20.04 doesn't export modern cmake targets
    # Use gcc 10 instead of default gcc 9, because of required concepts library

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Install prerequisites
      run: |
          sudo apt-get install -y libgtk-3-dev libspdlog-dev

    - name: Cache Catch
      uses: actions/cache@v3
      id: cache-catch
      with:
        path: catch/install
        key: ${{runner.os}}-catch-${{env.CATCH_VERSION}}-${{env.BUILD_TYPE}}-20.04

    - name: Install Catch
      if: steps.cache-catch.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/catchorg/Catch2.git catch --depth 1 --branch $CATCH_VERSION
        cd catch
        cmake -B build \
          -DCMAKE_C_COMPILER=gcc-10 \
          -DCMAKE_CXX_COMPILER=g++-10 \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install \
          -DBUILD_TESTING=OFF
        cmake --build build --target install -j $(nproc)
        cd ..

    - name: Cache OpenCV
      uses: actions/cache@v3
      id: cache-opencv
      with:
        path: opencv/install
        key: ${{runner.os}}-opencv-${{env.OPENCV_VERSION}}-${{hashFiles('misc/build/opencv-minimal-flags.txt')}}-${{env.BUILD_TYPE}}-20.04

    - name: Install OpenCV
      if: steps.cache-opencv.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/opencv/opencv.git --depth 1 --branch $OPENCV_VERSION
        cd opencv
        cmake -B build \
          -DCMAKE_C_COMPILER=gcc-10 \
          -DCMAKE_CXX_COMPILER=g++-10 \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install \
          `cat ../misc/build/opencv-minimal-flags.txt`
        cmake --build build --target install -j $(nproc)
        cd ..

    - name: Cache SDL
      uses: actions/cache@v3
      id: cache-sdl
      with:
        path: SDL/install
        key: ${{runner.os}}-sdl-${{env.SDL_VERSION}}-${{env.BUILD_TYPE}}-20.04

    - name: Install SDL
      if: steps.cache-sdl.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/libsdl-org/SDL.git --depth 1 --branch $SDL_VERSION
        cd SDL
        cmake -B build \
          -DCMAKE_C_COMPILER=gcc-10 \
          -DCMAKE_CXX_COMPILER=g++-10 \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install
        cmake --build build --target install -j $(nproc)
        cd ..

    - name: Configure CMake
      run: |
        cmake -B build \
          -DCMAKE_C_COMPILER=gcc-10 \
          -DCMAKE_CXX_COMPILER=g++-10 \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install \
          -DBUILD_TESTING=ON \
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
          -DCatch2_DIR=../catch/install/lib/cmake/Catch2 \
          -DOpenCV_DIR=opencv/install/lib/cmake/opencv4 \
          -DSDL2_DIR=SDL/install/lib/cmake/SDL2

    - name: Build
      run: cmake --build build -j $(nproc) --target install

    - name: Run Tests
      run: |
        cd build
        ctest
        cd ..

  build-macos-12:
    runs-on: macos-12
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Install prerequisites
      run: |
        brew install sdl2 spdlog catch2

    - name: Cache OpenCV
      uses: actions/cache@v3
      id: cache-opencv
      with:
        path: opencv/install
        key: ${{runner.os}}-opencv-${{env.OPENCV_VERSION}}-${{hashFiles('misc/build/opencv-minimal-flags.txt')}}

    - name: Install OpenCV
      if: steps.cache-opencv.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/opencv/opencv.git --depth 1 --branch $OPENCV_VERSION
        cd opencv
        cmake -B build \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install \
          `cat ../misc/build/opencv-minimal-flags.txt`
        cmake --build build --target install -j $(nproc)
        cd ..

    - name: Configure CMake
      run: |
        cmake -B build \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_INSTALL_PREFIX=install \
          -DBUILD_TESTING=ON \
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
          -DOpenCV_DIR=opencv/install/lib/cmake/opencv4

    - name: Build
      run: cmake --build build -j $(nproc) --target install

    - name: Run Tests
      run: |
        cd build
        ctest
        cd ..
